<mat-toolbar color="primary">
  <span><a routerLink='/'>Great Blue Fishing</a></span>
  <span class="header-spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink='/about' routerLinkActive='mat-accent'>About</a>
    </li>
    <li>
      <a mat-button routerLink='/store' routerLinkActive='mat-accent'>Store</a>
    </li>
    <li>
      <a mat-button routerLink='/donations' routerLinkActive='mat-accent'>Donations</a>
    </li>
    <li>
      <a mat-button routerLink='/gallery' routerLinkActive='mat-accent'>Gallery</a>
    </li>
    <li>
      <a mat-button routerLink='/blog' routerLinkActive='mat-accent'>Blog</a>
    </li>
    <li>
      <a mat-button routerLink='/contact' routerLinkActive='mat-accent'>Contact Us</a>
    </li>
  </ul>
</mat-toolbar>
