<mat-toolbar color="primary">
  <span><a routerLink='/'>Great Blue Fishing</a></span>
  <span class="header-spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink='/about' routerLinkActive='mat-accent'>About</a>
    </li>
    <li>
      <a mat-button routerLink='/store' routerLinkActive='mat-accent'>Store</a>
    </li>
    <li>
      <a mat-button routerLink='/donations' routerLinkActive='mat-accent'>Donations</a>
    </li>
    <li>
      <a mat-button routerLink='/gallery' routerLinkActive='mat-accent'>Gallery</a>
    </li>
    <li>
      <a mat-button routerLink='/blog' routerLinkActive='mat-accent'>Blog</a>
    </li>
    <li>
      <a mat-button routerLink='/contact' routerLinkActive='mat-accent'>Contact Us</a>
    </li>
    <li>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="home icon">person_outline</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf='!userIsAuthenticated'>
          <a mat-button color='primary' routerLink='/register' routerLinkActive='mat-accent'>Register</a>
        </button>
        <button mat-menu-item *ngIf='!userIsAuthenticated'>
          <a mat-button color='primary' routerLink='/login' routerLinkActive='mat-accent'>Sign In</a>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="admin" *ngIf='isAdmin'>
          <a mat-button color='primary' routerLinkActive='mat-accent'>Admin</a>
        </button>
        <!-- TODO only appear when they are admin!! -->
          <!-- ADMIN SITES -->
          <mat-menu #admin="matMenu">
            <button mat-menu-item routerLink='/admin/blog'>Blog</button>
            <button mat-menu-item routerLink='/admin/products'>Products</button>
            <button mat-menu-item routerLink='/admin/donations'>Donations</button>
            <button mat-menu-item routerLink='/admin/users'>Users</button>
            <button mat-menu-item routerLink='/admin/gallery'>Gallery</button>
          </mat-menu>
        <button mat-menu-item *ngIf='userIsAuthenticated'>
          <a mat-button color='primary' (click)='onLogout()' routerLinkActive='mat-accent'>Logout</a>
        </button>
      </mat-menu>
    </li>
    <li>

    </li>
  </ul>
</mat-toolbar>
