<h1>Manage Products</h1>
<!-- Product Creation -->



<!-- Product List -->

<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Test Title</mat-card-title>
      <img mat-card-image src="../../../../../backend/images/test-1599739266269.jpg">
      <mat-card-content>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."</p>
        <h4>$3.99</h4>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="primary" [routerLink]="['/admin/products/edit']">Edit</a>
        <button mat-button color="warn" (click)="onDelete()">Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
