:host {
  display: block;
  margin-top: 1rem;
}


h1 {
  text-align: center;
}

.view-shopping-cart{
  text-align: right;
  margin-right: 2.5%;
}

.product-list{
  width: 85%;
}

mat-grid-list {
  width: 60%;
  height: auto;
  margin: auto;
}

.product-list mat-card {
  width: 85%;
  margin: auto;
}
.product-list mat-card-title {
  text-align: center;
}

.product-list img {
  height: auto;
  width: 80%;
  display: block;
  margin: 5% auto 5% auto;
}
#quantity {
  width: 35px;
}
