:host {
  display: block;
  margin-top: 1rem;
}


h1 {
  text-align: center;
}

.view-shopping-cart{
  text-align: right;
  margin-right: 2.5%;
}

mat-grid-tile {
  padding: 0% 1% 0% 1%;
}

.product-list{
  width: 85%;
}

mat-grid-list {
  width: 60%;
  height: auto;
  margin: 0 auto 0 auto;
}

.product-list mat-card {
  width: 85%;
  margin: auto;
}
.product-list mat-card-title {
  text-align: center;
}

.product-list img {
  height: 60%;
  width: 60%;
  display: block;
  margin: 5% auto 2% auto;
}

#quantity {
  width: 35px;
}
