<h1>Review Order</h1>

<mat-list role="list">
  <mat-list-item role="listitem">{{ nameInformation.firstName }}</mat-list-item>
  <mat-list-item role="listitem">{{ nameInformation.lastName }}</mat-list-item>
  <mat-list-item role="listitem">{{ shippingInformation.shippingStreetAddress }}</mat-list-item>
  <mat-list-item role="listitem">{{ shippingInformation.shippingAddressLineTwo }}</mat-list-item>
  <mat-list-item role="listitem">{{ shippingInformation.shippingCity }}</mat-list-item>
  <mat-list-item role="listitem">{{ shippingInformation.shippingState}}</mat-list-item>
  <mat-list-item role="listitem">{{ shippingInformation.shippingPostal }}</mat-list-item>
  <mat-list-item role="listitem">{{ billingInformation.cardType }}</mat-list-item>
  <mat-list-item role="listitem">{{ billingInformation.cardNumber }}</mat-list-item>
  <mat-list-item role="listitem">{{ billingInformation.securityCode }}</mat-list-item>
  <mat-list-item role="listitem">{{ billingInformation.expiration }}</mat-list-item>
  <mat-list-item role="listitem">{{ billingInformation.nameOnCard }}</mat-list-item>
  <mat-list-item role="listitem">{{ billingInformation.billingStreetAddress }}</mat-list-item>
  <mat-list-item role="listitem">{{ billingInformation.billingAddressLineTwo }}</mat-list-item>
  <mat-list-item role="listitem">{{ billingInformation.billingCity }}</mat-list-item>
  <mat-list-item role="listitem">{{ billingInformation.billingState}}</mat-list-item>
  <mat-list-item role="listitem">{{ billingInformation.billingPostal}}</mat-list-item>
</mat-list>
