:host {
  display: block;
  margin-top: 1rem;
}

h1 {
  text-align: center;
}

mat-card {
  width: 75%;
  margin: auto;
  margin-bottom: 3%;
}


mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type='file']{
  visibility: hidden;
}

.image-preview{
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

mat-paginator{
  margin-top: 1rem;
}

.blog-list{
  margin-top: 5%;
  width: 75%;
  margin: auto;
}

.info-text {
  text-align: center;
}

.blog-image {
  width: 80%;
  margin: auto;
}

.blog-image img {
  height: auto;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-form-field.ng-invalid.ng-touched {
  animation: example;
  animation-duration: 0.3s;
  margin-bottom: 13px;
}

@keyframes example {
  from {margin-bottom: 0;}
  to {margin-bottom: 13px;}
}
