<!-- blog creation -->
<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type='text' formControlName="title" placeholder="Blog Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a blog title!</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Upload Image</button>
      <input type='file' #filePicker (change)='onImagePicked($event)'>
    </div>
    <div class='image-preview' *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]='imagePreview' [alt]='form.value.title'>
    </div>
    <mat-form-field>
      <textarea matInput formControlName='content' rows="6" placeholder="Blog Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter blog content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Blog</button>
  </form>
</mat-card>

<!-- blog lists -->
<div class='blog-list'>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <mat-accordion multi="true" *ngIf="blogs.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let blog of blogs">
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <p>{{ post.content }}</p>
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/edit', blog.id]">Edit</a>
        <button mat-button color="warn" (click)="onDelete(blog.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator
    [length]='totalPosts'
    [pageSize]='postsPerPage'
    [pageSizeOptions]='pageSizeOptions'
    (page)="onChangedPage($event)"
    *ngIf="blogs.length > 0">
  </mat-paginator>
  <p *ngIf="blogs.length <= 0 && !isLoading" class="info-text mat-body1">No Posts Added Yet</p>
</div>
