
.background{
  width: 100%;
  height: 100%;
}

.background img{
  height: auto;
  width: 100%;
  position: fixed;
  background-size: cover;
  object-fit: cover;
}

.background h1 {
  margin: 3% 0 0 0 ;
  text-align:center;
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
  z-index: 1;
  color: white;
  font-size: 40px;
  font-style: italic;
}

mat-grid-list {
  width: 55%;
  height: auto;
  position: absolute;
  right: 8%;
  top: 30%;
  border-radius: 8px;
  background-color: rgba(8, 8, 8, 0.719);
}

.gallery-list mat-card {
  width: 85%;
  margin: auto;
}
.gallery-list mat-card-title {
  text-align: center;
}

.gallery-list img {
  height: 60%;
  width: 70%;
  display: block;
  margin: 5% auto 2% auto;
}
