
.container {
  width: 100%;
  height: 1000px;
  background-image: url(../../../assets/backgrounds/home-background.jpeg)
}

.main-logo {
  position: static;
  margin: auto;
  text-align: center;
  width: 60%;
  height: 30%;
  border: 1px solid black;
}

#main-logo img{
  display: block;
  margin: auto;
}
