<div class='blog-list'>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <mat-accordion multi="true" *ngIf="blogs.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let blog of blogs">
      <mat-expansion-panel-header>
        {{ blog.title }}
      </mat-expansion-panel-header>
      <div class="blog-image">
        <img [src]="blog.imagePath" [alt]="blog.title">
      </div>
      <p>{{ blog.content }}</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator [length]='totalBlogs' [pageSize]='blogsPerPage' [pageSizeOptions]='pageSizeOptions' (page)="onChangedPage($event)" *ngIf="blogs.length > 0"></mat-paginator>
  <p *ngIf="blogs.length <= 0 && !isLoading" class="info-text mat-body1">No Posts Added Yet</p>
</div>
