<h1>Manage Donations</h1>
<!-- donation-company image creation -->
<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <form [formGroup]="form" #formDirective="ngForm" (submit)="onSubmit(formDirective)" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type='text' formControlName="companyName" placeholder="Company Name">
      <mat-error *ngIf="form.get('companyName').invalid">Please enter a comapny name!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type='text' formControlName="companyDescription" placeholder="Company Description">
      <mat-error *ngIf="form.get('companyDescription').invalid">Please enter a comapny description!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type='text' formControlName="addressLineOne" placeholder="Address Line One">
      <mat-error *ngIf="form.get('addressLineOne').invalid">Please enter a comapny address!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type='text' formControlName="addressLineTwo" placeholder="Address Line Two">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='text' formControlName="city" placeholder="City">
      <mat-error *ngIf="form.get('city').invalid">Please enter a comapny city!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>State</mat-label>
      <mat-select formControlName="state" >
        <mat-option *ngFor="let state of states" [value]="state.value" required> {{state.viewValue}} </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type='text' formControlName="postal" placeholder="Zip Code">
      <mat-error *ngIf="form.get('postal').invalid">Please enter a valid comapny zip code!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type='text' formControlName="companyWebsite" placeholder="Company Website">
      <mat-error *ngIf="form.get('companyWebsite').invalid">Please enter a valid comapny website!</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Upload Image</button>
      <input type='file' #filePicker (change)='onImagePicked($event)'>
    </div>
    <div class='image-preview' *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]='imagePreview' [alt]='form.value.name'>
    </div>
    <button id='submit' mat-raised-button color="accent" type="submit">Save Donation Company</button>
  </form>
</mat-card>

<!-- Company List -->

<mat-grid-list cols="3" rowHeight="1:1" class="donation-company-list">
  <mat-grid-tile *ngFor="let donationCompany of donationCompanies">
    <mat-card>
      <mat-card-title>{{ donationCompany.companyName }}</mat-card-title>
      <a href='{{ donationCompany.imagePath }}'>
        <img [src]="donationCompany.imagePath" [alt]="donationCompany.companyName">
      </a>
      <mat-card-content>
        <p>{{ donationCompany.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="primary" [routerLink]="['/admin/donation-company/edit', donationCompany.id]">Edit</a>
        <button mat-button color="warn" (click)="onDelete(donationCompany.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
