<h1>Manage Admin Users</h1>

<!-- creating admin users------------------------- -->

<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <form [formGroup]="form" #formDirective="ngForm" (submit)='onAdminCreation(formDirective)' *ngIf='!isLoading'>
    <mat-form-field>
      <input matInput type="email" formControlName="adminEmail" placeholder="Email">
      <mat-error *ngIf="form.get('adminEmail').invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName='adminPassword' placeholder="Password">
      <mat-error *ngIf="form.get('adminPassword').invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="adminFirstName" placeholder="First Name">
      <mat-error *ngIf="form.get('adminFirstName').invalid">Please enter a your first name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="adminLastName" placeholder="Last Name">
      <mat-error *ngIf="form.get('adminLastName').invalid">Please enter a your first name.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Create Admin User</button>
  </form>
</mat-card>

<!-- list of admin users ------------------- -->

<table mat-table [dataSource]="adminUsersList" class="mat-elevation-z8">

  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <!-- Delete Button Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete? </th>
    <td mat-cell *matCellDef="let user">
      <button mat-button color="warn" (click)="onDelete(user.id)">X</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
